#
# Plugin DI configuration
#
# @license        More in LICENSE.md
# @copyright      https://www.fastybird.com
# @author         Adam Kadlec <adam.kadlec@fastybird.com>
# @package        FastyBird:WsServerPlugin!
# @subpackage     config
# @since          1.0.0
#
# @date           19.07.20

php:
    date.timezone: Europe/Prague

extensions:
    ipubWebSocketsWAMP      : IPub\WebSocketsWAMP\DI\WebSocketsWAMPExtension
    ipubWebSockets          : IPub\WebSockets\DI\WebSocketsExtension
    ipubPhone               : IPub\Phone\DI\PhoneExtension
    fbBootstrapLibrary      : FastyBird\Library\Bootstrap\DI\BootstrapExtension
    fbMetadataLibrary       : FastyBird\Library\Metadata\DI\MetadataExtension
    fbExchangeLibrary       : FastyBird\Library\Exchange\DI\ExchangeExtension

services:
    - {factory: Symfony\Component\Console\Application}
    - {factory: Symfony\Component\EventDispatcher\EventDispatcher}
