#
# WS server plugin DI configuration
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:WsServerPlugin!
# @subpackage	config
# @since		0.1.0
#
# @date			19.07.20

php:
	date.timezone: Europe/Prague

extensions:
	contributteConsole		: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	contributteEvents		: Contributte\EventDispatcher\DI\EventDispatcherExtension
	fbApplicationExchange	: FastyBird\ApplicationExchange\DI\ApplicationExchangeExtension
	fbModulesMetadata		: FastyBird\ModulesMetadata\DI\ModulesMetadataExtension
	fbWebServer				: FastyBird\WebServer\DI\WebServerExtension
	ipubWebSocketsWAMP		: IPub\WebSocketsWAMP\DI\WebSocketsWAMPExtension
	ipubWebSockets			: IPub\WebSockets\DI\WebSocketsExtension

contributteConsole:
	name: FastyBird:WsServerPlugin!
	version: '1.0'
	catchExceptions: true
	autoExit: true
	url: http://example.com
	lazy: false
	helperSet: \Symfony\Component\Console\Helper\HelperSet
	helpers: []

ipubWebSockets:
	routes:
		'/io/exchange' : 'ExchangeController:'
